


<body class="bg-dark">
    <app-navbar></app-navbar>
    <app-owl></app-owl>
    <section id="smartphone" class="container-fluid pt-5 pb-5">
        <h1 class="text-white text-center">BEST SMARTPHONE</h1>
        <app-phone-content></app-phone-content>
    </section>
    <!-- BEGIN LAPTOP -->
    <section id="laptop" class="container-fluid pt-5 pb-5 bg-light text-dark">
        <h1 class="text-center">BEST LAPTOP</h1>
        <app-laptap-content></app-laptap-content>
    </section>
    <section id="promotion" class="container-fluid pt-5 pb-5">
        <h1 class="text-center text-white">PROMOTION</h1>
        <div class="container bg-light pt-5 pb-5">
               <app-footer></app-footer>
        </div> 
    </section>
</body>
